body {
	padding: 0;
	margin: 0;
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-family: sans-serif;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

span {
	display: inline-block;
}

.phone-frame {
	width: 345px;
	height: 680px;
	border: 5px solid #222;
	border-radius: 25px;
	background-color: #fafafa;
	position: relative;
	overflow: auto;
	padding: 0 25px;
}

.phone-frame::before {
	content: "";
	height: 10px;
	width: 100px;
	position: absolute;
	left: calc(50% - 50px);
	top: 0;
	background-color: #222;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	z-index: 10000;
}
